__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

.venv/
env/
venv/

.vscode/

*.log
logs/
*.sqlite3

/media/
/staticfiles/
/orders.xlsx

*.pid
*.swp

.DS_Store
Thumbs.db

.env


.cache/
pytest_cache/

**/migrations/__pycache__/
/admin/store/migrations/

*.so
